# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

MONGO='mongodb+srv://yash26985:Iamyash@mern-blog.m6bhycg.mongodb.net/mern-blog?retryWrites=true&w=majority&appName=mern-blog'

JWT_SECRET = 'yash'

VITE_FIREBASE_API_KEY=  "AIzaSyDOmkFTHORWpE7fIhCUj_4rqoAK8LL8szg"
